<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<div id="root"></div>
		<!--Scripts-->
		<script>
		window._initialState = <%- JSON.stringify(state)%>
		</script>
		<script type="text/javascript" src="./app/cofinApp.js"></script>
	</body>
</html>