<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link type="text/css" rel="stylesheet" href="css/cofinApp.css">
	</head>
	<body>
		<div id="root"></div>
		<!--Scripts-->
		<script>
			window._initialState = <%- JSON.stringify(state)%>
		</script>
		<script type="text/javascript" src="./app/cofinApp.js"></script>
	</body>
</html>